//.homePage{
//  padding: .5rem 14rem .5rem 14rem;
//}
.description{
    text-align: center;
    padding: 1.5rem 0 1.5rem 0;
    font-family: Poppins;
    h1{
      font-weight: 800;
    }
    p{
      color: #727272;
    }
    a{
      text-decoration: none;
    }
  }