@import "src/assets/fonts/Poppins/Poppins-Black.ttf";
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 1rem 14rem 1rem 14rem;
  background-color: #f1f1f1;
  .toolbar {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 100px;
    }
    .links {
      align-items: center;
      display: flex;
      flex-direction: column;
      a {
        text-decoration: none;
        color: black;
        font-size: 14px;
      }
    }
    .basket {
      position: relative;
      img {
        width: 70px;
      }
      .count {
        position: absolute;
        left: 1.6rem;
        bottom: 1.9rem;
        color: #ffffff;
        font-size: 25px;
        border-radius: 50px;
        padding: 6px;
        line-height: 17px;
        background-color: #1b45b3;
      }
    }
  }
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        color: #393939;
        font-family: "Poppins", sans-serif;
        transition: 0.4s;
        width: 0;
        &::after {
          display: block;
          content: "";
          border-bottom: solid 2px #ea2129;
          transform: scaleX(0);
          transition: transform 250ms ease-in-out;
        }
        &:hover::after {
          transform: scaleX(1);
        }
      }
    }
  }
}

@media (min-width: 1284px) and (max-width: 1400px) {
  header {
    .toolbar {
      img {
        width: 90px;
      }
      p {
        font-size: 14px;
        font-weight: 200;
      }
      .links {
        a {
          font-size: 10px;
        }
      }
    }
  }
}

@media (min-width: 1080px) and (max-width: 1284px) {
  header {
    img {
      width: 10px;
    }
    .toolbar {
      p {
        font-size: 10px;
      }
      .links {
        a {
          font-size: 8px;
        }
      }
    }
  }
}

@media (min-width: 767px) and (max-width: 1080px) {
  header {
    .toolbar {
      p {
        font-size: 12px;
      }
      .links {
        a {
          font-size: 12px;
        }
      }
    }
  }
}
