@import "src/assets/fonts/Poppins/Poppins-Black.ttf";
.main {
  padding: 2rem 14rem;
  font-family: "Poppins", sans-serif;
  .macbooks {
    display: flex;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
    .block {
      padding: 14px;
      transition: 0.4s ease-in-out;
      &:hover {
        background-color: #f1f1f1;
        transition: 0.4s ease-in;
      }
      img {
        width: 200px;
      }
      h4 {
        padding-top: 1rem;
      }
    }
  }
  .back{
      font-size: 30px;
  }
}
