.footer {
  padding: 2rem 14rem 2rem 14rem;
  display: flex;
  justify-content: space-between;
  background-color: #f1f1f1;
  color: black;
  img {
    width: 90px;
  }
  .block{
      line-height: 35px;
      p{
          font-weight: 300;
      }
  }
  .products{
      display: flex;
      flex-direction: column;
      a{
          padding-top: 6px;
          text-decoration: none;
          font-weight: 300;
      }
  }
  .contacts{
      display: flex;
      flex-direction: column;
      p{
          font-weight: 300;
      }
      a{
          padding-top: 6px;
          text-decoration: none;
          font-weight: 300;
      }
  }
}
