.main {
  padding: 2rem 14rem;
  .watches {
    display: flex;
    text-align: center;
    gap: 1rem;
    .watch {
      img {
        width: 170px;
      }
      h4 {
        padding: 1rem 2rem;
        color: #9f8bce;
      }
      a {
        color: #9f8bce;
        text-decoration: none;
      }
    }
  }
}
