.main {
  padding: 2rem 14rem;
  .watches {
    display: flex;
    text-align: center;
    gap: 1rem;
    .watch {
      img {
        width: 170px;
      }
      h4 {
        padding: 1rem 2rem;
        color: #9f8bce;
      }
      a {
        color: #9f8bce;
        text-decoration: none;
      }
    }
  }
}

@media (min-width: 767px) and (max-width: 1200px){
  .main{
    padding: 1rem 8rem;
    .watches{
      .watch{
        img{
          width: 100px;
        }
        h4{
          font-size: 14px;
        }
      }
    }
  }
}

@media (min-width: 480px) and (max-width: 767px){
  .main{
    padding: 1rem 5rem;
    .watches{
      .watch{
        img{
          width: 70px;
        }
        h4{
          font-size: 12px;
        }
      }
    }
  }
}
@media (max-width: 480px){
  .main{
    padding: 1rem;
    .watches{
      flex-wrap: wrap;
      justify-content: center;
      .watch{
        img{
          width: 170px;
        }
        a{
          font-size: 12px;
        }
      }
    }
  }
}