//.carousel-control-prev-icon,
//.carousel-control-next-icon {
//  height: 100px;
//  width: 100px;
//  outline: black;
//  background-image: none;
//}
.carousel-control-prev-icon {
  background-image: url('https://istore.kg/static/img/right.svg') !important;
  transform: rotate(180deg);
}
.carousel-control-next-icon {
  background-image: url('https://istore.kg/static/img/right.svg') !important;
}
.slider{
  text-align: center;
  img{
    max-width: 100%;
    width: 100%;
  }
}

@media (min-width: 767px) and (max-width: 1080px){
  .slider{
    width: 100%;
    img{
      width: 100%;
    }
  }
}